@import "./variable";

#app {
    // 子菜单
    .sub-menu {
        font-weight: bold;
        font-size: 19px;
    }

    // 菜单项
    .item {
        font-weight: bold;
        font-size: 15px;
    }

    // 标签1
    .tag-one {
        margin-right: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
        color: $hello-color;
        background-color: $hello-background-color;
    }

    // 标签1: 鼠标悬停
    .tag-one:hover {
        font-size: 15px;
        background-color: $white-color;
    }

    // 标签2
    .tag-two {
        margin-right: 20px;
        margin-top: 20px;
        font-weight: bold;
        font-size: 14px;
        cursor: pointer;
    }

    // 标签2: 鼠标悬停
    .tag-two:hover {
        font-size: 15px;
        background-color: $white-color;
    }

    // 滚动条
    .scrollbar {
        // 计算 el-scrollbar 滚动条正确显示的高度
        height: calc(100vh - 40px);
    }
}
