$hello-color: #AF52DE;
$easy-color: #00AF9B;
$medium-color: #FFB822;
$hard-color: #FF2D55;

$hello-background-color: rgba(175, 82, 222, .1);

$white-color: #FFFFFF;
$light-gray-color: #C0C0C0;
$dark-gray-color: #808080;
